services:
  saleor:
    container_name: guug-saleor
    image: guug-saleor
    build:
      context: ./saleor3
      dockerfile: Dockerfile
    environment:
      STATIC_URL: ${SALEOR_STATIC_URL:-/static/}
      DEBUG: ${DEBUG:-false}
      ALLOWED_HOSTS: ${SALEOR_ALLOWED_HOSTS:-localhost}
      STOREFRONT_URL: ${SALEOR_STOREFRONT_URL:-http://localhost:3000}
      DASHBOARD_URL: ${SALEOR_DASHBOARD_URL:-http://localhost:8000}
      SECRET_KEY: ${SECRET_KEY}
      SALEOR_ROOT_PATH: ${SALEOR_ROOT_PATH}
      ENABLE_SSL: ${ENABLE_SSL}
      ALLOWED_CLIENT_HOSTS: ${SALEOR_ALLOWED_CLIENT_HOSTS}
      HTTP_IP_FILTER_ENABLED: ${SALEOR_HTTP_IP_FILTER_ENABLED}
      EMAIL_URL: ${SALEOR_EMAIL_URL}
      APP_LOG_LEVEL: ${LOG_LEVEL}
      DATABASE_URL: ${SALEOR_DATABASE_URL}
      RSA_PRIVATE_KEY: ${SALEOR_RSA_PRIVATE_KEY}
      PUBLIC_URL: ${SALEOR_PUBLIC_URL}
    expose:
      - "8000"
    networks:
      - guug-network
    volumes:
      - static:/app/static
      - media:/app/media
    profiles:
      - backend
      - all

  dashboard:
    container_name: guug-dashboard
    image: guug-dashboard
    build:
      context: ./dashboard3
      dockerfile: Dockerfile    
    environment:
      STATIC_URL: ${DASHBOARD_STATIC_URL:-/dashboard/}
      API_URL: ${DASHBOARD_API_URL:-http://localhost:9000/graphql/}
      APP_MOUNT_URI: ${DASHBOARD_APP_MOUNT_URI:-/dashboard/}
      APP_LOG_LEVEL: ${LOG_LEVEL:-info}
    expose:
      - "80"
    networks:
      - guug-network
    volumes:
      - static:/app/static
      - media:/app/media
    profiles:
      - dashboard
      - frontend
      - all

  storefront:
    container_name: guug-storefront
    image: guug-storefront
    build:
      context: ./storefront3
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_SALEOR_API_URL: ${SALEOR_API_URL}
        NEXT_PUBLIC_STOREFRONT_URL: ${STOREFRONT_NEXT_PUBLIC_STOREFRONT_URL}
        NEXT_FILEPRINT_URL: ${STOREFRONT_NEXT_FILEPRINT_URL}
        NEXT_MEDIA_URL: ${STOREFRONT_NEXT_MEDIA_URL}
        APP_LOG_LEVEL: ${LOG_LEVEL}
        NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
        SALEOR_APP_TOKEN: ${STOREFRONT_SALEOR_APP_TOKEN}
    environment:
      NEXT_FILEPRINT_URL: ${STOREFRONT_NEXT_FILEPRINT_URL}
      NEXT_MEDIA_URL: ${STOREFRONT_NEXT_MEDIA_URL}
      APP_LOG_LEVEL: ${LOG_LEVEL}
      NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
      SALEOR_APP_TOKEN: ${STOREFRONT_SALEOR_APP_TOKEN}
    expose:
      - "3000"
    networks:
      - guug-network
    volumes:
      - static:/app/static
      - media:/app/media
    profiles:
      - frontend
      - all

  fileprint:
    container_name: guug-fileprint
    image: guug-fileprint
    build:
      context: ./saleor-fileprint-app
      dockerfile: Dockerfile
      args:
        APL_FILE_PATH: ${FILEPRINT_APL_FILE_PATH}
        SALEOR_API_URL: ${SALEOR_API_URL}
        DATABASE_URL: ${FILEPRINT_DATABASE_URL}
        NEXT_MEDIA_DIR: ${FILEPRINT_NEXT_MEDIA_DIR}
        NEXT_BASE_PATH: ${FILEPRINT_NEXT_BASE_PATH}
        NEXT_PUBLIC_URL: ${FILEPRINT_NEXT_PUBLIC_URL}
        APP_API_BASE_URL: ${FILEPRINT_APP_API_BASE_URL}
        APP_IFRAME_BASE_URL: ${FILEPRINT_APP_IFRAME_BASE_URL}
        APP_LOG_LEVEL: ${LOG_LEVEL}
        NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
    environment:
      SALEOR_API_URL: ${SALEOR_API_URL}
      NEXT_MEDIA_DIR: ${FILEPRINT_NEXT_MEDIA_DIR}
      NEXT_BASE_PATH: ${FILEPRINT_NEXT_BASE_PATH}
      NEXT_PUBLIC_URL: ${FILEPRINT_NEXT_PUBLIC_URL}
      APP_API_BASE_URL: ${FILEPRINT_APP_API_BASE_URL}
      APP_IFRAME_BASE_URL: ${FILEPRINT_APP_IFRAME_BASE_URL}
      APP_LOG_LEVEL: ${LOG_LEVEL}
      NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
      ALLOW_ALL_CORS: ${FILEPRINT_ALLOW_ALL_CORS:-false}
    expose:
      - "3000"
    networks:
      - guug-network
    volumes:
      - static:/app/static
      - media:/app/media
      - apl:/app/apl
    profiles:
      - apps
      - all

  dummy-payment:
    container_name: guug-dummy-payment
    image: guug-dummy-payment
    build:
      context: ./dummy-payment-app
      dockerfile: Dockerfile
      args:
        APP_API_BASE_URL: ${DUMMY_PAYMENT_APP_API_BASE_URL}
        APP_IFRAME_BASE_URL: ${DUMMY_PAYMENT_APP_IFRAME_BASE_URL}
        FILE_APL_PATH: ${DUMMY_PAYMENT_FILE_APL_PATH}
        NEXT_BASE_PATH: ${DUMMY_PAYMENT_NEXT_BASE_PATH}
        APP_LOG_LEVEL: ${LOG_LEVEL}
    environment:
      APP_API_BASE_URL: ${DUMMY_PAYMENT_APP_API_BASE_URL}
      APP_IFRAME_BASE_URL: ${DUMMY_PAYMENT_APP_IFRAME_BASE_URL}
      FILE_APL_PATH: ${DUMMY_PAYMENT_FILE_APL_PATH}
      NEXT_BASE_PATH: ${DUMMY_PAYMENT_NEXT_BASE_PATH}
      APP_LOG_LEVEL: ${LOG_LEVEL}
    expose:
      - "3000"
    networks:
      - guug-network
    volumes:
      - apl:/app/apl
    profiles:
      - apps
      - all
  
  stripe-payment:
    container_name: guug-stripe-payment
    image: guug-stripe-payment
    build:
      context: ./apps
      dockerfile: .devcontainer/stripe/Dockerfile
      args:
        SECRET_KEY: ${SECRET_KEY}
        APL_FILE_PATH: ${STRIPE_PAYMENT_APL_FILE_PATH}
        AWS_ACCESS_KEY_ID: ${STRIPE_PAYMENT_AWS_ACCESS_KEY_ID}
        AWS_SECRET_ACCESS_KEY: ${STRIPE_PAYMENT_AWS_SECRET_ACCESS_KEY}
        AWS_ENDPOINT_URL: ${STRIPE_PAYMENT_AWS_ENDPOINT_URL}
        AWS_REGION: ${STRIPE_PAYMENT_AWS_REGION}
        NEXT_PUBLIC_BASE_PATH: ${STRIPE_PAYMENT_NEXT_PUBLIC_BASE_PATH}
        APP_LOG_LEVEL: ${LOG_LEVEL}
        APP_IFRAME_BASE_URL: ${STRIPE_PAYMENT_APP_IFRAME_BASE_URL}
        APP_API_BASE_URL: ${STRIPE_PAYMENT_APP_API_BASE_URL}
        NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED:-1}
    expose:
      - "3000"
    networks:
      - guug-network
    volumes:
      - apl:/app/apl
    profiles:
      - apps
      - all

  nginx:
    container_name: guug-nginx
    image: nginx:latest
    environment:
      - NGINX_HOST=${NGINX_HOST:-localhost}
      - NGINX_PORT=${NGINX_PORT:-80}
    restart: always
    ports:
      - "8080:80"
      - "8443:443"
    networks:
      - guug-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/cert.pem:/etc/nginx/cert.pem:ro
      - ./nginx/cert-key.pem:/etc/nginx/cert-key.pem:ro
      - static:/app/static
      - media:/app/media
    profiles:
      - backend
      - all
    depends_on:
      - saleor

  dynamodb:
    image: "amazon/dynamodb-local:latest"
    ports:
      - 8000:8000
    volumes:
      - "dynamodb-data:/home/dynamodblocal/data"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
    user: root
    networks:
      - guug-network
    profiles:
      - backend
      - all

volumes:
  static:
  media:
  apl:
  dynamodb-data:
    driver: local

networks:
  guug-network:
